body {
    background-color: #121212;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-top: 50px;
    color: #f2f2f2;
  }
  
  .category {
    display: inline-block;
    background-color: #282828;
    color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
	border-radius: 10px;
  }
  
  .category:hover {
    background-color: #580000;

  }
  .category:active {
    background-color: white; 
  }
  
  .file-link {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-bottom: 10px;
  }
  
 
  .file-link:hover {
    color: #282828;
  }
  
  .file-literatura {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-bottom: 10px;
  }
  
  .file-literatura:hover {
    color: #282828;
  }
  
  .file-second {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.5em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-bottom: 10px;
	margin-top: 50px;

  }
  
  .file-main {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.7em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-bottom: 10px;
	text-decoration: underline;
  }
  
  .file-mainSecond {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.7em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-top: 50px;
	margin-bottom: 5px;
	text-decoration: underline;
  }
  
  .file-afterMainSecond {
    color: #f2f2f2;
    text-decoration: none;
	font-weight: bold;
    margin: 10px;
    font-size: 1.5em;
    transition: color 0.2s ease-in-out;
	display: flex;
    flex-direction: column;
	margin-bottom: 10px;

  }

  